<div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= render 'shared/login' %>
    </div>
  </div>
</div>
